# Constructing the Dataset

In [1]:
import pandas as pd
import numpy as np
import json

## 1. Data Loading

In [2]:
biz2022_path = './Data/yelp_academic_dataset_business_2022.json'
df_2022 = pd.read_json(biz2022_path, lines=True)

In [3]:
df_2022.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [4]:
df_2022.shape

(150346, 14)

In [5]:
biz2020_path = './Data/yelp_academic_dataset_business_2020.json'
df_2020 = pd.read_json(biz2020_path, lines=True)

In [6]:
df_2020.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,36,1,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...","Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...","{'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'..."
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD","8880 E Via Linda, Ste 107",Scottsdale,AZ,85258,33.569404,-111.890264,5.0,4,1,"{'GoodForKids': 'True', 'ByAppointmentOnly': '...","Health & Medical, Fitness & Instruction, Yoga,...",None
2,XNoUzKckATkOD1hP6vghZg,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,5,1,None,"Pets, Pet Services, Pet Groomers",None
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,1015 Sharp Cir,North Las Vegas,NV,89030,36.219728,-115.127725,2.5,3,0,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Hardware Stores, Home Services, Building Suppl...","{'Monday': '7:0-16:0', 'Tuesday': '7:0-16:0', ..."
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726648,4.5,26,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Services, Plumbing, Electricians, Handyma...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '..."

In [7]:
df_2020.shape

(209393, 14)

In [8]:
df_2022.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [9]:
df_2022.shape

(150346, 14)

## 2. Data Cleaning

Clean out the categories which are not including 'Restaurants' or 'Food'.

In [10]:
df_2020 = df_2020[df_2020['categories'].str.contains('Restaurants|Food', na=False)]
df_2020.shape

(80492, 14)

Only left the restaurants which were opened in 2020.

In [11]:
df_2020 = df_2020[df_2020['is_open'] == 1]

In [12]:
df_2020.shape

(56936, 14)

In [13]:
print(f'The number of initial restaurants which were operating in 2020 is {df_2020.shape[0]}.')

The number of initial restaurants which were operating in 2020 is 56936.

Check how many restaurants we have in common from the 2020 and 2022 datasets.

Try out changing the business name and address to lowercase to check if it returns more restaurants in common.

In [14]:
df_2022['name'] = df_2022['name'].str.lower()
df_2020['name'] = df_2020['name'].str.lower()
df_2022['address'] = df_2022['address'].str.lower()
df_2020['address'] = df_2020['address'].str.lower()

In [15]:
# Take out the first 4 characters of the address as matching full address is hard
df_2020['add_1'] = df_2020['address'].str[:4]
df_2022['add_1'] = df_2022['address'].str[:4]

In [16]:
df_2020.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours', 'add_1'],
      dtype='object')

In [17]:
df_2020.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,add_1
8,pQeaRpvuhoEqudo3uymHIQ,the empanadas house,404 e green st,Champaign,IL,61820,40.110446,-88.233073,4.5,5,1,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...","Ethnic Food, Food Trucks, Specialty Food, Impo...","{'Monday': '11:30-14:30', 'Tuesday': '11:30-14...",404
12,M_guz7Dj7hX0evS672wIwA,chocolate shoppe ice cream,2831 parmenter st,Middleton,WI,53562,43.105310,-89.510142,3.5,6,1,"{'BikeParking': 'True', 'Caters': 'True', 'Whe...","Desserts, Food, Ice Cream & Frozen Yogurt","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ...",2831
23,mKTq1T_IAplDpHUcMzOXkw,tipsy ryde,,Gastonia,NC,28054,35.252842,-81.152698,3.5,3,1,{'BusinessAcceptsCreditCards': 'True'},"Hotels & Travel, Transportation, Taxis, Beer, ...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-0:0', 'W...",
24,eBEfgOPG7pvFhb2wcG9I7w,philthy phillys,"15480 bayview avenue, unit d0110",Aurora,ON,L4G 7J1,44.010962,-79.448677,4.5,4,1,"{'RestaurantsTableService': 'False', 'Restaura...","Restaurants, Cheesesteaks, Poutineries","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1548
25,lu7vtrp_bE9PnxWfA8g4Pg,banzai sushi,300 john street,Thornhill,ON,L3T 5W4,43.820492,-79.398466,4.5,7,1,"{'GoodForKids': 'True', 'RestaurantsTakeOut': ...","Japanese, Fast Food, Food Court, Restaurants",None,300

In [18]:
df_2020.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours', 'add_1'],
      dtype='object')

In [19]:
df_2020 = df_2020.drop('is_open', axis=1)

In [20]:
df_2020.shape

(56936, 14)

In [21]:
df = pd.merge(df_2020, df_2022, on = ['name', 'add_1'], how='left')

In [22]:
df = df.drop_duplicates(subset=['name', 'add_1', 'address_x', 'city_x'])

In [23]:
df.columns

Index(['business_id_x', 'name', 'address_x', 'city_x', 'state_x',
       'postal_code_x', 'latitude_x', 'longitude_x', 'stars_x',
       'review_count_x', 'attributes_x', 'categories_x', 'hours_x', 'add_1',
       'business_id_y', 'address_y', 'city_y', 'state_y', 'postal_code_y',
       'latitude_y', 'longitude_y', 'stars_y', 'review_count_y', 'is_open',
       'attributes_y', 'categories_y', 'hours_y'],
      dtype='object')

In [24]:
df.shape

(56885, 27)

In [25]:
df = df[['business_id_x', 'name', 'address_x', 'city_x', 'state_x',
       'postal_code_x', 'latitude_x', 'longitude_x', 'stars_x',
       'review_count_x', 'attributes_x', 'categories_x', 'hours_x', 'add_1', 'is_open']]

In [26]:
df.is_open.count()

674

In [27]:
df.is_open.sum()

601.0

In [28]:
print(f'Out of {df.shape[0]} restaurants, we got the current status of {df.is_open.count()} restaurants. There are {int(df.is_open.sum())} restaurants opened and {int(df.is_open.count() - df.is_open.sum())} closed down in 2 years.')

Out of 56885 restaurants, we got the current status of 674 restaurants. There are 601 restaurants opened and 73 closed down in 2 years.

In [29]:
df.head()

,business_id_x,name,address_x,city_x,state_x,postal_code_x,latitude_x,longitude_x,stars_x,review_count_x,attributes_x,categories_x,hours_x,add_1,is_open
0,pQeaRpvuhoEqudo3uymHIQ,the empanadas house,404 e green st,Champaign,IL,61820,40.110446,-88.233073,4.5,5,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...","Ethnic Food, Food Trucks, Specialty Food, Impo...","{'Monday': '11:30-14:30', 'Tuesday': '11:30-14...",404,NaN
1,M_guz7Dj7hX0evS672wIwA,chocolate shoppe ice cream,2831 parmenter st,Middleton,WI,53562,43.105310,-89.510142,3.5,6,"{'BikeParking': 'True', 'Caters': 'True', 'Whe...","Desserts, Food, Ice Cream & Frozen Yogurt","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ...",2831,NaN
2,mKTq1T_IAplDpHUcMzOXkw,tipsy ryde,,Gastonia,NC,28054,35.252842,-81.152698,3.5,3,{'BusinessAcceptsCreditCards': 'True'},"Hotels & Travel, Transportation, Taxis, Beer, ...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-0:0', 'W...",,NaN
3,eBEfgOPG7pvFhb2wcG9I7w,philthy phillys,"15480 bayview avenue, unit d0110",Aurora,ON,L4G 7J1,44.010962,-79.448677,4.5,4,"{'RestaurantsTableService': 'False', 'Restaura...","Restaurants, Cheesesteaks, Poutineries","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1548,NaN
4,lu7vtrp_bE9PnxWfA8g4Pg,banzai sushi,300 john street,Thornhill,ON,L3T 5W4,43.820492,-79.398466,4.5,7,"{'GoodForKids': 'True', 'RestaurantsTakeOut': ...","Japanese, Fast Food, Food Court, Restaurants",None,300,NaN

In [30]:
# Rename columns
df.columns

Index(['business_id_x', 'name', 'address_x', 'city_x', 'state_x',
       'postal_code_x', 'latitude_x', 'longitude_x', 'stars_x',
       'review_count_x', 'attributes_x', 'categories_x', 'hours_x', 'add_1',
       'is_open'],
      dtype='object')

In [31]:
df.columns = ['business_id', 'name', 'address', 'city', 'state',
       'postal_code', 'latitude', 'longitude', 'stars',
       'review_count', 'attributes', 'categories', 'hours', 'add_1',
       'is_open']

In [32]:
df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,attributes,categories,hours,add_1,is_open
0,pQeaRpvuhoEqudo3uymHIQ,the empanadas house,404 e green st,Champaign,IL,61820,40.110446,-88.233073,4.5,5,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...","Ethnic Food, Food Trucks, Specialty Food, Impo...","{'Monday': '11:30-14:30', 'Tuesday': '11:30-14...",404,NaN
1,M_guz7Dj7hX0evS672wIwA,chocolate shoppe ice cream,2831 parmenter st,Middleton,WI,53562,43.105310,-89.510142,3.5,6,"{'BikeParking': 'True', 'Caters': 'True', 'Whe...","Desserts, Food, Ice Cream & Frozen Yogurt","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ...",2831,NaN
2,mKTq1T_IAplDpHUcMzOXkw,tipsy ryde,,Gastonia,NC,28054,35.252842,-81.152698,3.5,3,{'BusinessAcceptsCreditCards': 'True'},"Hotels & Travel, Transportation, Taxis, Beer, ...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-0:0', 'W...",,NaN
3,eBEfgOPG7pvFhb2wcG9I7w,philthy phillys,"15480 bayview avenue, unit d0110",Aurora,ON,L4G 7J1,44.010962,-79.448677,4.5,4,"{'RestaurantsTableService': 'False', 'Restaura...","Restaurants, Cheesesteaks, Poutineries","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1548,NaN
4,lu7vtrp_bE9PnxWfA8g4Pg,banzai sushi,300 john street,Thornhill,ON,L3T 5W4,43.820492,-79.398466,4.5,7,"{'GoodForKids': 'True', 'RestaurantsTakeOut': ...","Japanese, Fast Food, Food Court, Restaurants",None,300,NaN

In [33]:
df.to_csv('./Data/current_with_2022data.csv')

## 3. Using Yelp API to fill out the current status

In [34]:
# For the first time user, create your new app on Yelp API

# https://www.yelp.com/developers/v3/manage_app

In [35]:
import requests

In [36]:
def get_full_data(row):

    def is_open(row):
        try:
            is_closed = result['is_closed']
            if is_closed:
                return 0
            else:
                #print ('opened')
                return 1
        except:     # if there is no data
            #print ('no info', row['business_id'])
            return np.nan

    def review_count(row):
        try:
            review_count = result['review_count']
            return review_count
        except:     # if there is no data
            return np.nan

    def rating(row):
        try:
            rating = result['rating']
            return rating
        except:
            return np.nan
            
    base_url ='https://api.yelp.com/v3/businesses/'
    # getting param from the df
    business_id = row['business_id']
    name = row['name']

    # access to API
    API_Key = api_key
    auth = {'Authorization': 'Bearer ' + API_Key}
    response = requests.get(base_url+business_id, headers=auth)

    # get the response in a json format
    result = response.json()
    
    if pd.isna(row['is_open']):
        row['is_open'] = is_open(row)
    else:
        pass
    
    row['review_count_2022'] = review_count(row)
    row['rating_2022'] = rating(row)
    
    return row

In [37]:
# this is for creating 'is_open' from api only

def get_data(row):
    
    if pd.isna(row['is_open']):
        base_url ='https://api.yelp.com/v3/businesses/'
        # getting param from the df
        business_id = row['business_id']
        name = row['name']

        # access to API
        API_Key = api_key
        auth = {'Authorization': 'Bearer ' + API_Key}
        response = requests.get(base_url+business_id, headers=auth)

        # get the response in a json format
        result = response.json()

        try:
            is_closed = result['is_closed']
            if is_closed:
                row['is_currently_open'] = 0
            else:
                #print ('opened')
                row['is_currently_open'] = 0
        except:     # if there is no data
            #print ('no info', row['business_id'])
            row['is_currently_open'] = np.nan
            
    else:
        #print('already has data', row['is_open'])
        pass

In [38]:
business_id = '98hyK2QEUeI8v2y0AghfZA'
base_url ='https://api.yelp.com/v3/businesses/'
API_Key = api_key
auth = {'Authorization': 'Bearer ' + API_Key}
response = requests.get(base_url+business_id, headers=auth)
result = response.json()
try:
    is_closed = result['is_closed']
    if is_closed:
        print('closed')
    else:
        print('open')
except:
    print('no info')

NameError: name 'api_key' is not defined

In [ ]:
df.iloc[6:9]

In [39]:
df.shape

(56885, 15)

In [67]:
# Due to the daily limit of API usage, will divide df into pieces
# df_1 = df.iloc[:2500]
# df_2 = df.iloc[2500:5000]
# df_3 = df.iloc[5000:7500]
# df_4 = df.iloc[7500:10000]
# df_5 = df.iloc[10000:12500]
# df_6 = df.iloc[12500:15000]
# df_15 = df.iloc[55000:]
#df_7 = df.iloc[15000:20000]
#df_8 = df.iloc[20000:25000]
#df_9 = df.iloc[25000:30000]
#df_10 = df.iloc[30000:35000]
#df_11 = df.iloc[35000:40000]
#df_12 = df.iloc[40000:45000]
#df_13 = df.iloc[45000:50000]
#df_14 = df.iloc[50000:55000]

In [68]:
api_key = 'ukN5VPdhtYWTfLiveLGWaKF_s1HyD8-TNde2CKf1bjlq1FXKC_V5m1jMdcQdvn41vde8hknsyP4uk7PmsFAfSrxsWWZLmCi9IEen3MNWuClauclzluhWmn3d9K-OY3Yx'

In [90]:
# df_1 = df_1.apply(get_full_data, axis=1)
# df_1.to_csv('./Data/df_full_1.csv')

In [92]:
# df_2 = df_2.apply(get_full_data, axis=1)
# df_2.to_csv('./Data/df_full_2.csv')

In [93]:
# df_3 = df_3.apply(get_full_data, axis=1)
# df_3.to_csv('./Data/df_full_3.csv')

In [95]:
# df_4 = df_4.apply(get_full_data, axis=1)
# df_4.to_csv('./Data/df_full_4.csv')

In [108]:
# df_5 = df_5.apply(get_full_data, axis=1)
# df_5.to_csv('./Data/df_full_5.csv')

In [42]:
# df_6 = df_6.apply(get_full_data, axis=1)
# df_6.to_csv('./Data/df_full_6.csv')

In [43]:
# df_15 = df_15.apply(get_full_data, axis=1)
# df_15.to_csv('./Data/df_full_15.csv')

In [46]:
# df_7 = df_7.apply(get_full_data, axis=1)
# df_7.to_csv('./Data/df_full_7.csv')

In [49]:
# df_8 = df_8.apply(get_full_data, axis=1)
# df_8.to_csv('./Data/df_full_8.csv')

In [52]:
# df_9 = df_9.apply(get_full_data, axis=1)
# df_9.to_csv('./Data/df_full_9.csv')

In [56]:
# df_10 = df_10.apply(get_full_data, axis=1)
# df_10.to_csv('./Data/df_full_10.csv')

In [59]:
# df_11 = df_11.apply(get_full_data, axis=1)
# df_11.to_csv('./Data/df_full_11.csv')

In [63]:
# df_12 = df_12.apply(get_full_data, axis=1)
# df_12.to_csv('./Data/df_full_12.csv')

In [66]:
# df_13 = df_13.apply(get_full_data, axis=1)
# df_13.to_csv('./Data/df_full_13.csv')

In [69]:
# df_14 = df_14.apply(get_full_data, axis=1)
# df_14.to_csv('./Data/df_full_14.csv')

In [76]:
## 4. Add 2020 population

# api from US Census
api_key = '9b29cd5afc3a93548cd6504b1386c0eb1b48350e'

In [ ]:
#Once, you have a key, insert &key= followed by your key code at the end of your API calls: &key=your key here

## 4. Create a full df

In [ ]:
file_names = ['df_full_1','df_full_2','df_full_3','df_full_4','df_full_5','df_full_6','df_full_7', 'df_full_8','df_full_9','df_full_10','df_full_11','df_full_12','df_full_13','df_full_14','df_full_15']

def full_df(file_names):
    
    list_of_df = []
    base_path = './Data/'
    df = pd.DataFrame()
    
    for file in file_names:
        add_file = pd.read_csv(base_path+file+'.csv')
        add_file.drop('Unnamed: 0',axis=1, inplace=True)
        add_file.drop('add_1', axis=1, inplace=True)
        
        df = pd.concat([df, add_file], axis=0, ignore_index=True) 
        
    return df

In [ ]:
df = full_df(file_names)

In [ ]:
df.to_csv('./Data/df.csv')